@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300;400&family=Julius+Sans+One&family=Roboto&display=swap");
html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  background-color: #121212;
  color: white;
}

#root {
  background: linear-gradient(25deg, #121212, #2a2530) no-repeat;
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
  overflow: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-body {
  margin-left: 100px;
  margin-top: 160px;
}

.track {
  display: subgrid;
  grid-row: 1 / -1;
  grid-template-columns: subgrid;
  grid-template-rows: repeat(6, 25px);
  /* margin-top: 50px; */
}

.bar {
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-shrink: 0; */
  /* flex-grow: 1; */
  border-left: 2px solid #ba97e7;
}

.track-col {
  height: fit-content;
}

.bar-start {
  border-left: 2.4px solid #ba97e7;
}

.slot {
  position: relative;
  height: 21px;
  line-height: 21px;
  min-width: 14px;
  padding: 1px;
  user-select: none;
  color: #bb97e744;
  /* outline: 4px 4px 4px 4px solid black; */
  /* box-shadow: inset -2px -2px 0 5px red, inset 0 0 0 10px black; */
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent calc(50% - 1.11px),
    CurrentColor calc(50% - 1.11px),
    CurrentColor calc(50% + 1.11px),
    transparent calc(50% + 1.11px),
    transparent 100%
  );
}

.slot-row-1,
.slot-row-4 {
  /* outline: 4px 4px 4px 4px solid black; */
  /* box-shadow: inset -2px -2px 0 5px red, inset 0 0 0 10px black; */
  color: #bb97e760;
}

.slot-row-2,
.slot-row-3 {
  /* outline: 4px 4px 4px 4px solid black; */
  /* box-shadow: inset -2px -2px 0 5px red, inset 0 0 0 10px black; */
  color: #bb97e773;
}

.slot-row-nobg {
  background: linear-gradient(
        to bottom,
        transparent 0%,
        transparent calc(50% - 1.11px),
        CurrentColor calc(50% - 1.11px),
        CurrentColor calc(50% + 1.11px),
        transparent calc(50% + 1.11px),
        transparent 100%
      )
      no-repeat,
    linear-gradient(
        to bottom,
        transparent 0%,
        transparent calc(50% - 1.11px),
        CurrentColor calc(50% - 1.11px),
        CurrentColor calc(50% + 1.11px),
        transparent calc(50% + 1.11px),
        transparent 100%
      )
      no-repeat;

  background-position: 0 0, calc(100%) 0;
  background-size: 1px 100%, 1px 100%;
}

.lingon {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 60px;
  font-weight: 200;
  letter-spacing: 8px;
  color: white;
  position: fixed;
  left: 100px;
  top: 20px;
}

.slot-text {
  /* font-family: "Dongle", sans-serif; */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 2px;
  margin-left: 3px;
  color: white;
  /* background-color: #121212; */
  /*  */
  user-select: none;
  text-align: center;
}

@keyframes focus-indicator {
  0% {
    background-color: #bb97e7;
    /* color: #c3e797; */
  }
  47% {
    background-color: #bb97e7;
    /* color: #c3e797; */
  }
  53% {
    background-color: transparent;
    /* color: white; */
  }
  94% {
    background-color: transparent;
    /* color: white; */
  }

  100% {
    background-color: #bb97e7;
    /* color: #c3e797; */
  }
}

.slot:focus-within {
  animation: focus-indicator 1.5s infinite;
  border-radius: 6px;
  outline: none;
}

.overlay {
  position: fixed;
  bottom: 100px;
  width: 100%;
  height: 70px;
}

.overlay-inner {
  height: 70px;
  width: 400px;
  background-color: #ba97e70c;
  box-shadow: #121212 6px 10px 12px 5px;
  margin: auto;
  border-radius: 35px;
  border: 2px solid #bb97e7;
  overflow: hidden;
  display: flex;
}

.overlay-button {
  flex-grow: 1;
  height: 100%;
  /* border-left: 1px #121212a0 solid; */
  line-height: 70px;
  /* font-size: 35px; */
}

.overlay-button:first-child {
  border-left: none;
}

.overlay-button:hover {
  background-color: #bb97e7;
}

.overlay-button:active {
  background-color: #bb97e7a0;
}

.overlay-button > svg {
  font-size: 40px !important;
  margin-top: 15px;
}

.play-button > svg {
  fill: #b6ec4b !important;
}

.stop-button > svg {
  fill: #ed4643 !important;
}

.instrument-select {
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  border-bottom: 2px solid #bb97e7;
  padding: 4px;
  font-size: 14px;
  width: 100%;
}

.instrument-select > option {
  background-color: #121212;
  color: white;
}

.slot-highlight {
  color: #dac6f2 !important;
}

#footer {
  position: fixed;
  bottom: 32px;
  left: 0;
  padding-left: 96px;
  display: flex;
}

.footer-note {
  font-size: 128px;
  color: #dac6f222;
}
